/* ------------------------------------------------ CSS reset ------------------------------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* prettier-ignore */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* prettier-ignore */
ol, ul {
	list-style: none;
}
/* prettier-ignore */
blockquote, q {
	quotes: none;
}
/* prettier-ignore */
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------ Min css starter ------------------------------------------------ */

/* ------------------------------------------------ Gennemgående styling ------------------------------------------------ */
body {
  font-family: nunito;
  font-size: 12px;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* -- containeren for alt indhold -- */
.indhold {
  height: 100vh;
  width: calc(100vh * 9 / 16); /* -- beregner bredden ved at gange 100vh med forholdet 9:16 (den ratio skærmen skal have) = 56.25vw -- */
  margin: 0 auto; /* -- centrerer containeren -- */
  background-color: #fffbf5;
}

/* -- overskrifter -- */
h1 {
  font-family: kalam;
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  padding-top: 10px;
}

h2 {
  font-family: nunito;
  font-weight: 700;
  font-size: 1rem;
  color: black;
  padding-top: 10px;
}

li {
  list-style-type: disc;
  padding: 0 15px 15px 0px;
}

/* -- containeren til knappen -- */
.knap_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- styling af selve knappen -- */
.knap {
  background-color: #ffcd92;
  border-radius: 30px;
  margin: 20px auto; /* -- centrerer knappen vandret -- */
  padding: 5px 60px; /* -- luft omkring teksten -- */
  font-size: 27px;
  font-weight: 300;
  font-family: nunito;
}

/* -- styling af hele navigations sektionen -- */
.navigation {
  display: grid;
  grid-template-rows: auto auto; /* -- 2 rækker -- */
  padding-top: 5px;
}

/* -- styling af containeren med bjælker -- */
.bjaelker {
  display: grid;
  grid-template-columns: repeat(9, auto); /* -- giver 9 kolonner der passer til indholdets bredde -- */
  justify-content: space-evenly; /* -- lige meget afstand over det hele -- */
}

/* -- individuel styling af bjælkerne -- */
.bjaelke {
  width: 48px;
}

/* -- styling af containeren med ikoner -- */
.ikoner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* -- styling af afbryd/kryds -- */
.kryds {
  grid-column: 2;
  justify-self: end;
  margin: 11px;
}

.kryds img {
  width: 30px;
}

/* -- styling af tilbage pil -- */
.tilbage {
  grid-column: 1;
  margin: 11px;
}

.tilbage img {
  height: 30px;
}

/* ------------------------------------------------ Forside ------------------------------------------------ */
#forside_overskrift {
  padding-top: 30px;
}

.forside_tekst {
  font-size: 1rem;
  padding: 20px 60px 0px 60px; /* top, højre, bund, venstre */
}

/* -- styling af dreng og pige -- */
#karakterer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; /* afstand mellem billederne */
  padding: 20px 50px;
  max-height: 500px;
}

/* prettier-ignore */
#pige_forside, #dreng_forside {
  max-height: 400px;
  width: 100%;
  object-fit: contain; /* Sørger for at billedet ikke strækkes */
}

/* ------------------------------------------------ Karakterer ------------------------------------------------ */
#karakter_broedtekst {
  font-family: nunito;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

/* -- styling af hele billed sektionen -- */
#billedramme_container {
  display: flex;
  align-items: center; /* -- centrerer indholdet lodret i containeren -- */
  justify-content: center; /* -- centrerer indholdet vandret i containeren -- */
  gap: 10px; /* -- mellemrum mellem pil og ramme -- */
  margin: 60px 0px; /* -- top/bund og højre/venstre -- */
}

.pil {
  width: 40px;
  height: auto;
}

/* -- styling af selve rammen -- */
.billedramme {
  height: 400px;
  width: 330px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  overflow: hidden; /* -- skjuler indhold der går ud over rammen -- */
  background-color: #fefdfd;
}

/* -- styling af billedet -- */
.billedramme img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* -- bevarer proportioner og passer ind -- */
  display: block;
}

/* ------------------------------------------------ Video ------------------------------------------------ */
#video_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 90%; /* -- fylder 90% af sin parent -- */
  display: block;
  margin-top: 150px;
  border: 3px solid black;
  border-radius: 10px;
}

.replay_knap {
  position: absolute;
  display: none;
  background-color: #ffcd92;
  border-radius: 30px;
  padding: 10px 40px;
  font-size: 20px;
  font-family: nunito;
  border: none;
  margin-top: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#video_knap {
  margin-top: 150px;
}

/* ------------------------------------------------ Krop ------------------------------------------------ */
.krop_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.krop_container img {
  width: 90%; /* -- fylder 90% af sin parents bredde -- */
  height: auto;
  display: block;
}

/* -- Positionering af klikbart område på figuren -- */
.bryst {
  position: absolute;
  top: 23%; /* -- placering fra toppen af sin parent -- */
  left: 8%; /* -- placering fra siden af sin parent -- */
  width: 25%; /* -- lidt bredere end knappen -- */
  height: 8.5%; /* -- lidt højere end knappen -- */
}

/* ------------------------------------------------ Info ------------------------------------------------ */
.broedtekst {
  text-align: center;
  font-size: 1rem;
  padding: 0 30px;
}

.infoboks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  width: 80%;
  height: 20%;
  background-color: #fff2df;
  border-radius: 10px;
  margin: 50px auto;
}

.infoboks img {
  width: 70%;
  grid-column: 1;
  grid-row: 1 / 3; /* -- billedet fylder begge rækker -- */
  place-self: center; /* -- centrerer lodret og vandret -- */
}

.infoboks ul {
  grid-column: 2;
}

#hjerte {
  height: 25%;
}

#hjerte img {
  width: 65%;
}

#infotekst {
  font-size: 1rem;
  padding: 0 70px;
}

#opgave_knap {
  padding: 5px 40px; /* -- luft omkring teksten -- */
}

/* ------------------------------------------------ Media query ------------------------------------------------ */
@media (min-width: 1900px) {
  /* ------------------------------------------------ Gennemgående styling ------------------------------------------------ */

  .knap {
    border-radius: 3rem;
    margin: 2.5rem auto; /* -- centrerer knappen vandret -- */
    padding: 0.5rem 6rem; /* -- luft omkring teksten -- */
    font-size: 2rem;
  }

  /* ------------------------------------------------ Forside ------------------------------------------------ */
  #karakterer {
    max-height: 100rem;
  }

  /* prettier-ignore */
  #pige_forside, #dreng_forside {
    max-height: 70rem;
    width: 100%;
    object-fit: contain; /* Sørger for at billedet ikke strækkes */
  }

  /* -- styling af pige da hun er mindre -- */
  #pige_forside {
    padding-top: 1rem;
  }

  /* ------------------------------------------------  ------------------------------------------------ */
}
